@mixin multiple-animations($list) {
	$webkit: '';
	$moz: '';
	$o: '';
	$normal: '';
	
	@for $i from 1 through length($list) {
		$anim: nth($list, $i);
		
		@if $i == length($list) {
			$webkit: unquote($webkit + $anim);
			$moz: unquote($moz + $anim);
			$o: unquote($o + $anim);
			$normal: unquote($normal + $anim);
		}
		@else {
			$webkit: unquote($webkit + $anim + ',');
			$moz: unquote($moz + $anim + ',');
			$o: unquote($o + $anim + ',');
			$normal: unquote($normal + $anim + ',');
		}
	}

  	-webkit-animation: unquote($webkit);
  	-moz-animation: unquote($moz);
  	-o-animation: unquote($o);
  	animation: unquote($normal);      
}


@-webkit-keyframes bg {
    from {background-color: red;}
    to {background-color: yellow;}
}

@-moz-keyframes bg {
    from {background-color: red;}
    to {background-color: yellow;}
}

@-o-keyframes bg {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes bg {
    from {background-color: red;}
    to {background-color: yellow;}
}


@-moz-keyframes size {
    from {height: 50px;}
    to {height: 100px;}
}

@-webkit-keyframes size {
    from {height: 50px;}
    to {height: 100px;}
}

@-o-keyframes size {
    from {height: 50px;}
    to {height: 100px;}
}

@keyframes size {
    from {height: 50px;}
    to {height: 100px;}
}


div {
    width: 100px;
    height: 100px;
    @include multiple-animations(('bg 3s ease-in 2s 2 forwards', 'size 3s linear 2s 2 forwards'));
}